.texpadtmp/

cache/

*.Rproj.user

*.Rhistory

*.RData*

*.history

*.Rproj
.Rproj.user

*smokingmod*

chapters/R/data/smoking-mod*

chapters/R/data/
.DS_Store

chapters/R/cache.zip

*.bbl

*.bcf

*.glo

*.glo-abr

*.idx

*.ilg

*.ind

*.ist

*.log

*.run.xml

*.slo

*.synctex.gz

*concordance.tex

*.mw

*.icloud
